@import 'tailwindcss/base';
@import 'tailwindcss/components';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 250, 250, 250;
}

body {
  background: rgb(var(--background-rgb));
}

.fnContainer {
  background-color: rgb(255, 250, 250);
  border-radius: 5px;
}

.fnText {
  margin-top: 1.5em;
  font-size: 3vw;
}

@import 'tailwindcss/utilities';